.task-div {
    margin: 0 0 7px 50px;
    padding: 0;
    background-color: #FFFFFF;
    border-radius: 2px;
    border: 1px solid #370000;
    width: 95%;
    min-height: 52px;
    display: flex;
}

.task-checkbox {
    width: 98%;
    margin-left: 20px;
    word-break:normal;
}

.checkmark {
    cursor: pointer;
    height: 16px;
    width: 16px;
    border: 1px solid #370000;
}

.task-text {
    font-family: 'Jost*', sans-serif;
    font-size: 25px;
    color: #370000;
    line-height: 50px;
    margin-left: 20px;
    overflow: hidden;
}

.task-three-dots {
    width: 25px;
    height: 52px;
    margin-right: 10px;
    cursor: pointer;
}

.task-three-dots-image {
    padding-top: 14px;
}

