.task-div {
    margin: 0 0 7px 50px;
    padding: 0;
    background-color: #FFFFFF;
    border-radius: 2px;
    border: 1px solid #370000;
    width: 95%;
    min-height: 52px;
    display: flex;
}

.task-checkbox {
    width: 98%;
    margin-left: 20px;
    word-break:normal;
}

.checkmark {
    cursor: pointer;
    height: 16px;
    width: 16px;
    border: 1px solid #370000;
}

.task-text {
    font-family: 'Jost*', sans-serif;
    font-size: 25px;
    color: #370000;
    line-height: 50px;
    margin-left: 20px;
    overflow: hidden;
}

.task-x {
    display: flex;
    width: 35px;
    height: 52px;
}

.task-x-button {
    background: none;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-top: 13px;
    margin-right: 20px;
  }
  
.task-x-span {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
}
  
.task-x-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



