.task-div {
    margin: 0 0 7px 50px;
    padding: 0;
    background-color: aquamarine;
    width: 100%;
    height: 52px;
}

.task-text {
    font-family: 'Jost*', sans-serif;
    font-size: 25px;
    color: #370000;
    margin: 0;
}

