.content {
    display: flex;
    margin: 200px 15% 0 15%;
    height: 1718px;
}

.button-div {
    width: 257px;
}

.content-todo-div {
    width: 100%;
}

.content-empty-todo-div {
    width: 100%;
}