.add-task-button-div {
    margin-left: 40px;
}

.add-task-button {
    font-family: 'Jost*', sans-serif;
    font-size: 25px;
    background-color: #FFFFFF ;
    width: 160px;
    height: 52px;
    border-radius: 2px;
    border: 1px solid #370000;
    color: #370000;
    padding: 0;
    text-align: left;
    cursor: pointer;
}

.add-task-div {
    margin-top: 9px;
    display: flex;
    justify-content: center;
}

.add-task-button:hover {
    background-color: #FFC7D4;
}

.add-task-button:active {
    background-color: #BB8995;
}

.add-task-image {
    margin-top: -1px;
}

.add-task-text {
    margin-left: 10px;
    line-height: 33px;
}

.input-text-div {
    display: flex;
    margin-left: 50px;
    height: 52px;
    width: 95%;
    margin-bottom: 40px;
    border: 1px solid #370000;
}

.input-task-text {
    border: 0;
    font-family: 'Jost*', sans-serif;
    font-size: 25px;
    color: #370000;
    padding-left: 16px;
    width: 89%;
}

.input-task-text:focus {
    border: #FFFFFF;

}

.input-task-text:visited {
    border: #FFFFFF;
}

.cancel-add-task-button {
    margin-top: 5px;
    margin-left: 15px;
    border: 0;
    background-color: #FFFFFF;
    cursor: pointer;
}

.confirm-add-task-button {
    border: 0;
    margin-top: 5px;
    border: 0;
    background-color: #FFFFFF;
    cursor: pointer;
}
