.text-div {
    margin-left: 50px;
    margin-top: 0;
    padding: 0;
}

.welcome-title {
    font-family: 'Jost*', sans-serif;
    font-size: 40px;
    color: #370000;
    margin: 0;
}

.welcome-text {
    font-family: 'Jost*', sans-serif;
    font-size: 30px;
    color: #370000;
    margin-top: 10px;
}

#background {
    background: #1e5799;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#7db9e8));
    background: -webkit-linear-gradient(top,  #1e5799 0%, #7db9e8 100%);
    background:    -moz-linear-gradient(top,  #1e5799 0%, #7db9e8 100%);
    background:     -ms-linear-gradient(top,  #1e5799 0%, #7db9e8 100%);
    background:      -o-linear-gradient(top,  #1e5799 0%, #7db9e8 100%);
    background:         linear-gradient(to bottom, #1e5799 0%, #7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
    background-attachment: fixed;
  }