.text-div {
    margin-left: 50px;
    margin-top: 0;
    padding: 0;
}

.welcome-title {
    font-family: 'Jost*', sans-serif;
    font-size: 40px;
    color: #370000;
    margin: 0;
}

.welcome-text {
    font-family: 'Jost*', sans-serif;
    font-size: 30px;
    color: #370000;
    margin-top: 10px;
}

