.create-to-do-button {
    font-family: 'Jost*', sans-serif;
    font-size: 25px;
    background-color: #FFFFFF ;
    width: 257px;
    height: 52px;
    border-radius: 2px;
    border: 1px solid #370000;
    color: #370000;
    padding: 0;
    text-align: left;
    cursor: pointer;
}

.create-to-do-div {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.create-to-do-button:hover {
    background-color: #FFC7D4;
}

.create-to-do-button:active {
    background-color: #BB8995;
}

.create-to-do-text {
    margin-left: 10px;
    line-height: 33px;
}